USE [master]
GO
/****** Object:  Database [Sistem_Pelaporan_Keracunan_MBG]    Script Date: 6/21/2026 4:05:45 PM ******/
CREATE DATABASE [Sistem_Pelaporan_Keracunan_MBG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistem_Pelaporan_Keracunan_MBG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SYAHJEHAN00\MSSQL\DATA\Sistem_Pelaporan_Keracunan_MBG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistem_Pelaporan_Keracunan_MBG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SYAHJEHAN00\MSSQL\DATA\Sistem_Pelaporan_Keracunan_MBG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistem_Pelaporan_Keracunan_MBG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistem_Pelaporan_Keracunan_MBG]
GO
/****** Object:  User [mbg_user]    Script Date: 6/21/2026 4:05:45 PM ******/
CREATE USER [mbg_user] FOR LOGIN [mbg_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [mbg_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [mbg_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mbg_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mbg_user]
GO
/****** Object:  Table [dbo].[Masyarakat]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masyarakat](
	[id_masyarakat] [int] IDENTITY(1,1) NOT NULL,
	[nama_pelapor] [varchar](100) NOT NULL,
	[kontak] [varchar](20) NOT NULL,
	[alamat] [text] NOT NULL,
	[kota_kab] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_masyarakat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laporan](
	[id_laporan] [int] IDENTITY(1,1) NOT NULL,
	[id_masyarakat] [int] NOT NULL,
	[lokasi_kejadian] [varchar](200) NULL,
	[tanggal] [date] NOT NULL,
	[jumlah_korban] [int] NOT NULL,
	[gejala] [varchar](max) NULL,
	[status_validasi] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_laporan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwLaporanPublic]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwLaporanPublic] AS
SELECT 
    l.id_laporan,
    m.nama_pelapor,
    m.kontak,
    m.kota_kab,
    l.lokasi_kejadian,
    l.tanggal,
    l.jumlah_korban,
    l.gejala,
    l.status_validasi
FROM Laporan l
INNER JOIN Masyarakat m ON l.id_masyarakat = m.id_masyarakat;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laporan_Backup]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laporan_Backup](
	[id_laporan] [int] IDENTITY(1,1) NOT NULL,
	[id_masyarakat] [int] NOT NULL,
	[lokasi_kejadian] [varchar](200) NULL,
	[tanggal] [date] NOT NULL,
	[jumlah_korban] [int] NOT NULL,
	[gejala] [varchar](max) NULL,
	[status_validasi] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogAktivitas]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogAktivitas](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[aktivitas] [varchar](200) NULL,
	[waktu] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masyarakat_Backup]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masyarakat_Backup](
	[id_masyarakat] [int] IDENTITY(1,1) NOT NULL,
	[nama_pelapor] [varchar](100) NOT NULL,
	[kontak] [varchar](20) NOT NULL,
	[alamat] [text] NOT NULL,
	[kota_kab] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id_admin], [username], [password]) VALUES (1, N'adminmbg', N'admin123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Laporan] ON 

INSERT [dbo].[Laporan] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (48, 51, N'sdn 2 tondano', CAST(N'2026-06-12' AS Date), 18, N'sakit perut', N'Pending')
INSERT [dbo].[Laporan] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (49, 52, N'smpn 1 jogja', CAST(N'2026-06-13' AS Date), 42, N'muntah muntah', N'Pending')
INSERT [dbo].[Laporan] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (50, 53, N'sman 1 manado', CAST(N'2026-06-14' AS Date), 25, N'lemas dan pusing', N'Pending')
SET IDENTITY_INSERT [dbo].[Laporan] OFF
GO
SET IDENTITY_INSERT [dbo].[Laporan_Backup] ON 

INSERT [dbo].[Laporan_Backup] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (40, 43, N'sma minahasa', CAST(N'2026-06-18' AS Date), 53, N'muntah muntah', N'Pending')
INSERT [dbo].[Laporan_Backup] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (41, 44, N'sma kotobangon', CAST(N'2026-06-07' AS Date), 24, N'muntaber', N'Pending')
INSERT [dbo].[Laporan_Backup] ([id_laporan], [id_masyarakat], [lokasi_kejadian], [tanggal], [jumlah_korban], [gejala], [status_validasi]) VALUES (42, 45, N'sma minahasa', CAST(N'2026-06-18' AS Date), 53, N'muntah muntah', N'Pending')
SET IDENTITY_INSERT [dbo].[Laporan_Backup] OFF
GO
SET IDENTITY_INSERT [dbo].[LogAktivitas] ON 

INSERT [dbo].[LogAktivitas] ([id_log], [aktivitas], [waktu]) VALUES (1, N'Status laporan id 32 diubah menjadi: Selesai', CAST(N'2026-06-21T02:22:33.890' AS DateTime))
INSERT [dbo].[LogAktivitas] ([id_log], [aktivitas], [waktu]) VALUES (2, N'Status laporan id 31 diubah menjadi: Di Proses', CAST(N'2026-06-21T02:22:38.163' AS DateTime))
INSERT [dbo].[LogAktivitas] ([id_log], [aktivitas], [waktu]) VALUES (3, N'Status laporan id 30 diubah menjadi: Ditolak', CAST(N'2026-06-21T02:22:42.207' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LogAktivitas] OFF
GO
SET IDENTITY_INSERT [dbo].[Masyarakat] ON 

INSERT [dbo].[Masyarakat] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (51, N'pingkan', N'8214455667', N'tondano', N'minahasa')
INSERT [dbo].[Masyarakat] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (52, N'dewi', N'8771122334', N'yogyakarta', N'yogyakarta')
INSERT [dbo].[Masyarakat] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (53, N'christian', N'8138899001', N'tuminting', N'manado')
SET IDENTITY_INSERT [dbo].[Masyarakat] OFF
GO
SET IDENTITY_INSERT [dbo].[Masyarakat_Backup] ON 

INSERT [dbo].[Masyarakat_Backup] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (43, N'sutrisno', N'83121256', N'manado', N'minahasa')
INSERT [dbo].[Masyarakat_Backup] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (44, N'asep', N'8123123654', N'kota kotamobagu', N'kotobangon')
INSERT [dbo].[Masyarakat_Backup] ([id_masyarakat], [nama_pelapor], [kontak], [alamat], [kota_kab]) VALUES (45, N'sutrisno', N'83121256', N'manado', N'minahasa')
SET IDENTITY_INSERT [dbo].[Masyarakat_Backup] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__F3DBC572C04D2792]    Script Date: 6/21/2026 4:05:46 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Laporan] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[Laporan] ADD  DEFAULT ('Pending') FOR [status_validasi]
GO
ALTER TABLE [dbo].[Laporan]  WITH CHECK ADD  CONSTRAINT [FK_Laporan_Masyarakat] FOREIGN KEY([id_masyarakat])
REFERENCES [dbo].[Masyarakat] ([id_masyarakat])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Laporan] CHECK CONSTRAINT [FK_Laporan_Masyarakat]
GO
/****** Object:  StoredProcedure [dbo].[sp_CountLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CountLaporan]
    @total INT OUTPUT
AS
BEGIN
    SELECT @total = COUNT(*) FROM Laporan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteLaporan]
    @id_laporan INT
AS
BEGIN
    DECLARE @id_masyarakat INT
    SELECT @id_masyarakat = id_masyarakat FROM Laporan WHERE id_laporan = @id_laporan
    DELETE FROM Laporan WHERE id_laporan = @id_laporan
    DELETE FROM Masyarakat WHERE id_masyarakat = @id_masyarakat
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLaporan]
AS
BEGIN
    SELECT 
        l.id_laporan,
        m.nama_pelapor,
        m.kontak,
        m.kota_kab,
        l.lokasi_kejadian,
        l.tanggal,
        l.jumlah_korban,
        l.gejala,
        l.status_validasi
    FROM Laporan l
    INNER JOIN Masyarakat m ON l.id_masyarakat = m.id_masyarakat
    ORDER BY l.id_laporan DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLogAktivitas]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLogAktivitas]
AS
BEGIN
    SELECT id_log, aktivitas, waktu
    FROM LogAktivitas
    ORDER BY waktu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertLaporan]
    @nama_pelapor   VARCHAR(100),
    @kontak         VARCHAR(20),
    @alamat         VARCHAR(255),
    @kota_kab       VARCHAR(50),
    @lokasi_kejadian VARCHAR(255),
    @tanggal        DATE,
    @jumlah_korban  INT,
    @gejala         VARCHAR(255)
AS
BEGIN
    DECLARE @id_masyarakat INT

    INSERT INTO Masyarakat (nama_pelapor, kontak, alamat, kota_kab)
    VALUES (@nama_pelapor, @kontak, @alamat, @kota_kab)

    SET @id_masyarakat = SCOPE_IDENTITY()

    INSERT INTO Laporan (id_masyarakat, lokasi_kejadian, tanggal, jumlah_korban, gejala, status_validasi)
    VALUES (@id_masyarakat, @lokasi_kejadian, @tanggal, @jumlah_korban, @gejala, 'Pending')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RekapWilayah]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RekapWilayah]
AS
BEGIN
    SELECT
        m.kota_kab AS KotaKab,
        COUNT(l.id_laporan) AS JumlahLaporan
    FROM Laporan l
    INNER JOIN Masyarakat m ON l.id_masyarakat = m.id_masyarakat
    GROUP BY m.kota_kab
    ORDER BY JumlahLaporan DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportLaporan]
    @tgl_dari   DATE = NULL,
    @tgl_sampai DATE = NULL
AS
BEGIN
    SELECT
        l.id_laporan,
        m.nama_pelapor,
        m.kontak,
        m.kota_kab,
        l.lokasi_kejadian,
        l.tanggal,
        l.jumlah_korban,
        l.gejala,
        l.status_validasi
    FROM Laporan l
    INNER JOIN Masyarakat m ON l.id_masyarakat = m.id_masyarakat
    WHERE
        (@tgl_dari IS NULL OR l.tanggal >= @tgl_dari)
        AND (@tgl_sampai IS NULL OR l.tanggal <= @tgl_sampai)
    ORDER BY l.tanggal DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchLaporan]
    @keyword VARCHAR(100)
AS
BEGIN
    SELECT 
        l.id_laporan,
        m.nama_pelapor,
        m.kontak,
        m.kota_kab,
        l.lokasi_kejadian,
        l.tanggal,
        l.jumlah_korban,
        l.gejala,
        l.status_validasi
    FROM Laporan l
    INNER JOIN Masyarakat m ON l.id_masyarakat = m.id_masyarakat
    WHERE 
        CAST(l.id_laporan AS VARCHAR) LIKE '%' + @keyword + '%' OR
        m.nama_pelapor LIKE '%' + @keyword + '%'
    ORDER BY l.id_laporan DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStatusLaporan]    Script Date: 6/21/2026 4:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateStatusLaporan]
    @id_laporan     INT,
    @status_validasi VARCHAR(20)
AS
BEGIN
    UPDATE Laporan 
    SET status_validasi = @status_validasi 
    WHERE id_laporan = @id_laporan
END
GO
USE [master]
GO
